.text {
  font-family: "Agency FB";
  font-size: 15pt;
  text-align: left;
  margin-bottom: 5px;
}

.scrollable {
  overflow-x: hidden;
  overflow-y: auto;
}

/***************************************************
Animations
****************************************************/




/**************************************************
Text
**************************************************/

/* font style */
.text-agency {
  font-family: "Agency FB";
  font-size: 15pt;
  text-align: left;
  margin-bottom: 5px;
}
.text-poppins {
  font-family: "Poppins", sans-serif;
  font-size: 11pt;
  text-align: left;
  margin-bottom: 5px;
}
.text-small {
  font-size: 13pt;
}
.underline {
  text-decoration: underline;
}

/* text color */
.text-blue {
  color:blue;
}
.text-red {
  color:#fa5a5a;
}
.text-orange {
  color: #ff6600;
}
.text-aqua, .text-cyan {
  color: #10c1f7;
}
.text-yellow {
  color: #f0d264;
}
.text-green {
  color: #2ecc71;
}
.text-pink {
  color: violet;
}
.text-purple {
  color:#cb99c5;
}

/* properties */
.text-bold {
  font-weight: 600;
}
  


/*************************************************
Buttons
*************************************************/

.btn-pink {
  background: #faaca8;
  border: 1px double #10C1F7;
  color: black;
}

/* button v1 */
.button-v1 {
	color: white;	
	padding: 15px 25px;
	display: inline-block;
	border: 1px solid rgba(0,0,0,0.21);
	border-bottom-color: rgba(0,0,0,0.34);
	text-shadow:0 1px 0 rgba(0,0,0,0.15);
	box-shadow: 0 1px 0 rgba(255,255,255,0.34) inset, 
				      0 2px 0 -1px rgba(0,0,0,0.13), 
				      0 3px 0 -1px rgba(0,0,0,0.08), 
                      0 3px 13px -1px rgba(0,0,0,0.21);
    margin: 9px;
}
.button-v1:active {
	top: 1px;
	border-color: rgba(0,0,0,0.34) rgba(0,0,0,0.21) rgba(0,0,0,0.21);
	box-shadow: 0 1px 0 rgba(255,255,255,0.89),0 1px rgba(0,0,0,0.05) inset;
	position: relative;
}
.button-v1-large {
	padding: 20px 40px; 
	font-size: 22px;
}
.button-v1-small {
	padding: 8px 18px;  
	font-size: 14px;
}
.button-b1-mini {
	padding: 4px 12px;  
  font-size: 12px;
}
.button-v1-red    {background: #fa5a5a;}
.button-v1-yellow {background: #f0d264;}
.button-v1-green  {background: #82c8a0;}
.button-v1-cyan   {background: #7fccde;}
.button-v1-blue   {background: #6698cb;}
.button-v1-purple {background: #cb99c5;}
.button-v1-pink {background: #faaca8;}

/* button-v2: button with arrow */
.button-v2 {
    border: 4px solid #3F3F3F;
    color: #3F3F3F;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    padding: 12px 32px 12px 82px;
	  border-color: lightskyblue;
    color: lightskyblue;
	  text-decoration: none;
	  position: absolute;
	  top: -50px;
}

.button-v2 .label,
.button-v2 .icon-arrow {
    backface-visibility: hidden;
    transform: translateZ(0);
    perspective: 1000;
}

.button-v2 .label {
    display: inline-block;
    transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);
}

.button-v2 .icon-arrow {
    fill: #3F3F3F;
    height: 15px;
    top: 17px;
    transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1), opacity .4s cubic-bezier(0.86, 0, 0.07, 1);
    width: 35px;
}
.button-v2 .icon-arrow.before {
    left: 32px;
    margin-right: 15px;
    position: absolute;
    transform-origin: left center;
}
.button-v2 .icon-arrow.after {
    margin-left: 15px;
    opacity: 0;
    position: absolute;
    right: 32px;
    transform: translateX(75%) scaleX(0.1);
    transform-origin: right center;
}

.button-v2:hover .label {
    transform: translateX(-52px);
}
.button-v2:hover .icon-arrow.before {
    opacity: 0;
    transform: translateX(-75%) scaleX(0.1);
}
.button-v2:hover .icon-arrow.after {
    opacity: 1;
    transform: translateX(0) scaleX(1);
}
.button-v2:active {
    border-color: blue;
    color: blue;
}
.button-v2:active .icon-arrow {
    fill: blue;
}

/* button-v3 */
.button-v3 {
  margin-top: 65px;
  text-align: center;
  filter: brightness(1.5);
  cursor: pointer;
}
.button-v3 a:hover {
  background-color: #f0d264;
}
.button-v3 a {
  display: inline-block;
  background: #10C1F7 none repeat scroll 0 0;
  font-weight: 700;
  padding: 20px;
  color: white;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
}

/**********************************************************
Textbox
**********************************************************/

/* textbox-v1 */
.textbox-v1 {
	background: none;
	color: black;
	font-size: 15px;
	padding-top: 25px;
	width: 250px;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #c6c6c6;
	display: block;
}
.label-v1 {
	color: #2196f3;
	font-size: 18px;
	font-weight: normal;
	pointer-events: none;
	position: relative;
	left: 5px;
	top: -7px;
	transition: 300ms ease all;
	font-family: "Agency FB";
	display: inline-block;
}
.textbox-v1:focus {
	border-bottom: 2px solid #2196f3;
	animation-name: focus-animation;
	animation-duration: 500ms;
	outline: none;
}
@keyframes focus-animation {
    from {
		border-bottom: 1px solid #c6c6c6;
    }
    to {
		border-bottom: 2px solid #2196f3;
    }
}
.textbox-v1:focus + .label-v1 {
	 left: 20px;
}

/* textbox-v2 */
.textbox-v2 {
  width: 100%;
  border:2px solid #aaa;
  border-radius:4px;
  margin:8px 0;
  outline:none;
  padding:8px;
  box-sizing:border-box;
  transition:.3s;
  padding: 10px;
  border-color: #2193b0;
  background-color: #eaecf4;
  font-family: "Agency FB";
  animation-name: border-shadow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.textbox-v2:focus {
  box-shadow:0 0 8px 0 #2193b0;
  background: #2193b0;
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0); 
  background: linear-gradient(to right, #6dd5ed, #2193b0); 
}
@keyframes border-shadow {
  0% { box-shadow:0 0 0px 0 #2193b0; }
  100% { box-shadow: 0 0 8px 0 #2193b0;}
}

/************************************************************
Radio-Button v1
*************************************************************/

.radio-button-v1:checked,
.radio-button-v1:not(:checked) {
    position: absolute;
    left: -9999px;
}
.radio-button-v1:checked + label,
.radio-button-v1:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
.radio-button-v1:checked + label:before,
.radio-button-v1:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
.radio-button-v1:checked + label:after,
.radio-button-v1:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.radio-button-v1-pink:checked + label:after,
.radio-button-v1:not(:checked) + label:after {
	background: #F87DA9;
}

.radio-button-v1-blue:checked + label:after,
.radio-button-v1:not(:checked) + label:after {
	background: #2196f3;
}

.radio-button-v1-red:checked + label:after,
.radio-button-v1:not(:checked) + label:after {
	background: #fa5a5a;
}

.radio-button-v1-green:checked + label:after,
.radio-button-v1:not(:checked) + label:after {
	background: #82c8a0;
}

.radio-button-v1-yellow:checked + label:after,
.radio-button-v1:not(:checked) + label:after {
	background: hsl(47, 82%, 67%);
}


.radio-button-v1-purple:checked + label:after,
.radio-button-v1:not(:checked) + label:after {
	background: #cb99c5;
}

.radio-button-v1:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.radio-button-v1:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.radio-button-v1-label {
	font-family: "Agency FB";
    position: relative;
	left: 3px;
	color: black;
}

/***************************************************
Navs
***************************************************/

.nav-v1 {
  padding: 10px;
  font-weight: 600;
  position: relative;
  top: -60px;
  border-radius: 20px;
  color: #6698cb;
}
.tab-content {
  position: relative;
  top: -60px;
}

/*****************************************************
Tables
*******************************************************/

.table-v1-row {
  font-family: 'Montserrat-Regular';  
  font-size: 14px;
  color: #808080;
  line-height: 1.4;
}
.table-v1-row-nonhover {
  font-family: 'Montserrat-Regular';  
  font-size: 14px;
  color: #808080;
  line-height: 1.4;
}
.table-v1-th {
  font-family: 'Montserrat-Medium';
  font-size: 12px;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;
  background-color: #2196f3;
  /* #fa4251 */
}
.table-v1-th-green {
  background-color: #2ecc71;
}
.table-v1-th:hover {
  background-color: #F0FFFF;
  color: #2196f3;
}
.table-v1-col-hover:hover {
  background-color: #F0FFFF;
  color: #2196f3;
}
.table-v1-row:hover {
  background-color: #F0FFFF;
}
.table-v1-row-green:hover {
  background-color: #e7fff0;
}
.table-v1-active {
  background-color: #ffebed;
  color: #fa5a5a;
}
.table-v1-icon {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  opacity: 0.8;
  border: 1px double blue;
  font-size: 900;
  background-image: url('https://www.verdict.co.uk/wp-content/uploads/2019/02/shutterstock_1178766274-1440x810.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon-v1-active {
  filter: hue-rotate(-150deg);
  border-color: red;
}
.table-v1-icon p {
  font-family: "Agency FB";
  color: white;
  position: relative;
  top: 16px;
  left: 30px;
  font-size: 25px;
}
.table-row-align {
  position: relative;
  top: 20px;
}
